.recipes-container {
  display: flex;
  flex-wrap: wrap; /* Allow content to wrap on smaller screens */
}

.sidebar {
  width: 20%;
  height: 590px;
  padding: 5rem 2rem;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #ddd;
  position: fixed; /* Keep sidebar fixed on smaller screens */
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.navbar ul li {
  margin: 1rem 0;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.navbar ul li.active {
  font-weight: bold;
  color: #ff884b;
}

.navbar ul li:hover {
  color: #ff884b;
}

.menu-icon {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.logout-button {
  background: #ff6600;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  transition: background-color 0.3s;
}

.logout-icon {
  font-size: 1.5rem;
}

.main-content {
  width: 80%;
  margin-left: 20%; /* Adjust for fixed sidebar */
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .sidebar {
    width: 25%; /* Adjust sidebar width for tablets */
  }

  .main-content {
    width: 75%;
    margin-left: 25%;
  }

  .navbar ul li {
    font-size: 0.8rem; /* Reduce font size */
    gap: 10px; /* Reduce spacing */
  }

  .logout-button {
    font-size: 0.9rem; /* Adjust button size */
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative; /* Allow sidebar to move inline */
    padding: 1rem;
    margin: auto;
  }

  .main-content {
    width: 100%;
    margin-left: 0;
    padding: 15px;
  }

  .navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Space out items */
  }

  .navbar ul li {
    margin: 0.5rem 0;
    font-size: 0.9rem; /* Keep text readable */
  }
  .logout-button {
    width: max-content;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .logout-button {
    font-size: 0.8rem; /* Reduce button size for smaller screens */
    padding: 8px 10px;
  }

  .menu-icon {
    font-size: 1rem; /* Adjust icon size */
  }

  .navbar ul li {
    font-size: 0.8rem; /* Reduce font size */
  }
}
